
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #1e1e1e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #0f4345;
    border-radius: 5px;
}

header {
    text-align: center;
    padding: 100px 5px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    width: 100%;
    padding: 0px 20px;
    padding-left: 10%;
}

.info {
    flex: 1;
    text-align: left;
    padding-left: 50px;
    margin-left: 9px;
    margin-right: 120px;
}

.info p,
.info h1,
.info h3 {
    margin: 10px 0;
    transition: color 0.3s ease;
}

.info p {
    color: white;
    font-size: 2rem;
}

.info h1.name {
    font-size: 10rem;
    font-weight: black;
}

.info h3 {
    font-size: 5rem;
    font-weight: normal;
}

.tech {
    color: #00adb5;
    font-size: 2rem;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}

.hexagon {
    width: 350px;
    height: 350px;
    background: linear-gradient(0deg, #014b4f, #22a8a2, #bbfefc);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: relative;
    overflow: hidden;
    transition: transform 0.6s ease;
}

.naam {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.hexagon img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    transition: none;
}

.hexagon:hover {
    transition: transform 0.5s ease, background-color 0.3s ease;
    transform: scale(1.25);
}

section {
    padding: 50px 20px;
}

#about,
#skills,
#contact,
#home {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#about:hover,
#skills:hover,
#contact:hover {
    transform: scale(1.05);
    background-color: #252525;
}

.about-me {
    display: flex;
    justify-content:first baseline;
    align-items: flex-start;
    flex-wrap: wrap;
}

.about-left {
    flex: 0.15;
    padding: 20px;
   
}

.about-right {
    flex: 0.85;
    padding: 20px;
    padding-left: 0;
}

h2 {
    color: #00adb5;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h3 {
    color: #ffffff;
    font-size: 2rem;
    margin-top: 20px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-container1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-container2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
}

.skill {
    background-color: #252525;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.skill:hover {
    transform: scale(1.05);
    background-color: #303030;
}

.links1 {
    background-color: #252525;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.links1:hover {
    transform: scale(1.05);
    background-color: #303030;
    font-size: 1.4rem;
    padding: 1%;
    margin: 1%;
}

.links2 {
    background-color: #252525;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.links2:hover {
    transform: scale(1.05);
    background-color: #303030;
    font-size: 1.4rem;
    padding: 1%;
    margin: 1%;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

a {
    display: block;
    margin: 10px 0;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #00fff5;
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #303030;
}

footer p {
    margin: 0;
    font-size: 1rem;
    color: #00adb5;
    transition: color 0.3s ease;
}

footer p:hover {
    color: #00fff5;
}

.name {
    position: relative;
    display: inline-block;
    color: transparent;
    background: linear-gradient(0deg, #014b4f, #22a8a2, #bbfefc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
